Debug
x64
.vs/FaceSMGenerator/v16/.suo
.vs/FaceSMGenerator/v16/Browse.VC.db
.vs/FaceSMGenerator/v16/Browse.VC.opendb
.vs/FaceSMGenerator/v16/ipch/AutoPCH/33ea4deb0639114c/MAIN.ipch
.vs/FaceSMGenerator/v16/ipch/AutoPCH/358f04f6f9f52b0f/MAIN.ipch
.vs/FaceSMGenerator/v16/ipch/AutoPCH/5907ee0a51187ab3/FACESMPROCESS.ipch
.vs/FaceSMGenerator/v16/ipch/AutoPCH/6f67135fb1832d2c/MAIN.ipch
.vs/FaceSMGenerator/v16/ipch/AutoPCH/83dd99ddd987c84b/IMGUI_WIDGETS.ipch
.vs/FaceSMGenerator/v16/ipch/AutoPCH/9097d4c0132e9597/IMGUI_DEMO.ipch
.vs/FaceSMGenerator/v16/ipch/AutoPCH/b630096a3f78e061/THREADPROCESS.ipch
.vs/FaceSMGenerator/v16/ipch/AutoPCH/e700bea65908ac34/IMGUI_DEMO.ipch
.vs/FaceSMGenerator/v16/ipch/AutoPCH/f7a16b3a97f3ebea/THREADPROCESS.ipch
.vs/FaceSMGenerator/v16/ipch/AutoPCH/feec13a43338dca/THREADPROCESS.ipch
*.ipch
*.db-wal
*.db
.vs/FaceSMGenerator/v15/.suo
*.db-shm
